{% extends "base-left.html" %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-table/bootstrap-table.min.css' %}">
    <link rel="stylesheet" href="{% static 'js/plugins/layer/skin/layer.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/select2/select2.min.css' %}">
{% endblock %}


{% block content %}

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            用户管理
            <small>User manage</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> 主页</a></li>
            <li class="active">用户管理</li>
        </ol>
    </section>


    <!-- Main content -->
    <section class="content">
        <div id="devlist">
            <div class="box box-primary"></div>
            <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
                <button type="button" id="btnCreate" class="btn btn-sm btn-primary">
                    <i class="glyphicon glyphicon-plus"></i>新增
                </button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input id="search-keyword" placeholder="name/email">
                <button id="search-button" class="btn btn-sm btn-success">
                    <span class="glyphicon glyphicon-search"></span> 查询
                </button>
            </div>
            <div class="box-body">
                <table id="mytab" class="table table-bordered table-striped table-hover"></table>
            </div>
        </div>
    </section>

    <!-- /.content -->

{% endblock %}

{% block javascripts %}
    <script src="{% static 'plugins/bootstrap-table/bootstrap-table.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js' %}"></script>
    <script src="{% static 'js/plugins/layer/layer.js' %}"></script>
    <script src="{% static 'plugins/bootstrap-table/extensions/export/bootstrap-table-export.min.js' %}"></script>
    <script src="https://unpkg.com/tableexport.jquery.plugin/tableExport.min.js"></script>


    <script type="text/javascript">
        var oDataTable = null;

        $(function () {
            oDataTable = initTable();

            function initTable() {
                var oTable = $('#mytab').bootstrapTable({
                    {#全部参数#}
                    //请求后台的URL（*）或者外部json文件，json内容若为json数组[{"id": 0,"name": "Item 0","price": "$0"},{"id": 1,"name": "Item 1","price": "$1"}]，
                    //且键的名字必须与下方columns的field值一样，同时sidePagination需要设置为client或者直接注释掉，这样前台才能读取到数据，且分页正常。
                    //当json文件内容为json对象时：{"total": 2,"rows": [{"id": 0,"name": "Item 0","price": "$0"},{"id": 1,"name": "Item 1","price": "$1"}]}，
                    //分页要写为server，但是server如果没有处理的话,会在第一页显示所有的数据，分页插件不会起作用
                    {#url: "{% static 'guchen_obj.json' %}",     #}

                    url: "/system/user/list/",     //从后台获取数据时，可以是json数组，也可以是json对象
                    dataType: "json",
                    method: 'get',                      //请求方式（*）
                    toolbar: '#toolbar',                //工具按钮用哪个容器
                    striped: true,                      //是否显示行间隔色
                    cache: true,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                    pagination: true,                   //是否显示分页（*）
                    sortable: true,                     //是否启用排序
                    sortOrder: "asc",                   //排序方式
                    {#queryParams: oTableInit.queryParams,//传递参数（*）#}
                    sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）,数据为json数组时写client，json对象时（有total和rows时）这里要为server方式，写client列表无数据
                    pageNumber: 1,                       //初始化加载第一页，默认第一页
                    pageSize: 2,                       //每页的记录行数（*）
                    pageList: [1, 2, 5, 100],        //可供选择的每页的行数（*）
                    search: false,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以意义不大
                    strictSearch: true,
                    showColumns: true,                  //是否显示所有的列
                    showRefresh: true,                  //是否显示刷新按钮
                    minimumCountColumns: 2,             //最少允许的列数
                    clickToSelect: true,                //是否启用点击选中行
                    {#height: 500,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度#}
                    uniqueId: "ID",                     //每一行的唯一标识，一般为主键列
                    showToggle: false,                    //是否显示详细视图和列表视图的切换按钮
                    cardView: false,                    //是否显示详细视图
                    detailView: false,                   //是否显示父子表
                    idField: 'id',          //指定主键
                    singleSelect: true,                //开启单选,想要获取被选中的行数据必须要有该参数
                    showExport: true,   //导出功能
                    exportDataType: ['selected'],
                    {#exportTypes: ['json',  'pdf'], //导出类型#}
                    exportOptions: {//导出设置
                        fileName: 'Table_User',//下载文件名称
                    },


                    //得到查询的参数，会在url后面拼接，如：?rows=5&page=2&sortOrder=asc&search_kw=&_=1564105760651
                    queryParams: function (params) {
                        //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
                        var query_params = {
                            rows: params.limit,                         //页面大小
                            page: (params.offset / params.limit) + 1,   //页码
                            sort: params.sort,      //排序列名
                            sortOrder: params.order, //排位命令（desc，asc）

                            //查询框中的参数传递给后台
                            search_kw: $('#search-keyword').val(), // 请求时向服务端传递的参数
                        };
                        return query_params;
                    },

                    columns: [
                        {
                            checkbox: true  //第一列显示复选框
                        },

                        {
                            field: 'id',  //返回数据rows数组中的每个字典的键名与此处的field值要保持一致
                            title: 'id',
                            sortable: true
                        },
                        {
                            field: 'name',
                            title: '姓名',
                            sortable: true
                        },
                        {
                            field: 'email',
                            title: '邮箱',
                            sortable: true
                        },
                        {
                            field: 'gender',
                            title: '性别',
                            sortable: true,
                            formatter: function (value, row, index) {
                                if (value === 0) {
                                    return '<span class="label label-success">' + '男' + '</span>';
                                }
                                return '<span class="label label-warning">' + '女' + '</span>';
                            }
                        },
                        {
                            field: 'operate',
                            title: '操作',
                            width: 200,
                            align: 'center',
                            valign: 'middle',
                            formatter: actionFormatter,
                        },
                    ],

                    onLoadSuccess: function (data) {
                        {#获取行数据的状态#}
                        console.log('渲染数据完成后，打印所有数据')
                        console.log(data);
                        {#获取所有列表数据#}
                        var data = $("#mytab").bootstrapTable("getData");
                        console.log('已获取全部数据%s', data);
                    }

                });
                return oTable;
            }
        });

        //操作栏的格式化,value代表当前单元格中的值，row代表当前行数据，index表示当前行的下标
        function actionFormatter(value, row, index) {
            var index = index
            {#console.error(index)#}
            var id = JSON.stringify(row.id);
            {#console.error(id)#}
            var ret = "";
            ret += "<a href='javascript:;' class='btn btn-xs btn-info' onclick=\"doUpdate(" + id + ")\" title='编辑'><span class='glyphicon glyphicon-pencil'>修改</span></a>";
            ret += "<a href='javascript:;' class='btn btn-xs btn-warning' onclick=\"doChangepasswd(" + id + ")\" title='修改密码'><span class='glyphicon glyphicon-user'>密码</span></a>";
            ret += "<a href='javascript:;' class='btn btn-xs btn-danger' onclick=\"doDelete(" + id + ")\" title='删除'><span class='glyphicon glyphicon-trash'>删除</span></a>";
            return ret;

        }

        // 搜索查询按钮触发事件
        $(function () {
            $("#search-button").click(function () {
                $('#mytab').bootstrapTable(('refresh')); // 很重要的一步，刷新url！
                $('#search-keyword').val()
            })
        })

        //重置搜索条件
        function clean() {
            //先清空
            $('#search-keyword').val('');
            //清空后查询条件为空了，再次刷新页面，就是全部数据了
            $('#mytab').bootstrapTable(('refresh')); // 很重要的一步，刷新url！
        }

        $("#btnCreate").click(function () {
            var div = layer.open({
                type: 2,
                title: '新增',
                shadeClose: false,
                maxmin: true,
                area: ['50%', '50%'],
                content: '/system/user/create/',
                end: function () {
                    //关闭时做的事情
                    {#oDataTable.ajax.reload();#}
                    oDataTable.bootstrapTable('refresh')
                }
            });
        });

        function doUpdate(id) {
            var div = layer.open({
                type: 2,
                title: '编辑',
                shadeClose: false,
                maxmin: true,
                area: ['50%', '50%'],
                content: ["{% url 'system:user-update' %}" + '?id=' + id, 'no'],
                end: function () {
                    {#oDataTable.ajax.reload();#}
                    oDataTable.bootstrapTable('refresh')
                }
            });
        }

        function doDelete(id) {
            layer.alert('确定删除吗？', {
                title: '提示'
                , icon: 3 //0:感叹号 1：对号 2：差号 3：问号 4：小锁 5：哭脸 6：笑脸
                , time: 0 //不自动关闭
                , btn: ['YES', 'NO']
                , yes: function (index) {
                    layer.close(index);
                    $.ajax({
                        type: "POST",
                        url: "{% url 'system:user-delete' %}",
                        data: {"id": id, csrfmiddlewaretoken: '{{ csrf_token }}'},  //防止post数据时报 csrf_token 403
                        cache: false,
                        success: function (msg) {
                            if (msg.result) {
                                layer.alert('删除成功', {icon: 1});
                                {#oDataTable.ajax.reload();#}
                                oDataTable.bootstrapTable('refresh')
                            } else {
                                //alert(msg.message);
                                layer.alert('删除失败', {icon: 2});
                            }
                            return;
                        }
                    });
                }
            });
        }

        function doChangepasswd(id) {
            layer.open({
                type: 2,
                title: '修改密码',
                shadeClose: false,
                maxmin: true,
                area: ['50%', '50%'],
                content: ["{% url 'system:user-update-password' %}" + '?id=' + id, 'no'],
                end: function () {
                    oDataTable.bootstrapTable('refresh')
                }
            });
        }
    </script>


{% endblock %}