{% extends "head-footer.html" %}
{% load staticfiles %}


{% block middle %}

    <aside class="main-sidebar">

        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">

            <!-- Sidebar Menu -->
            <ul class="sidebar-menu">
                <ul class="sidebar-menu" data-widget="tree">
                    <!-- Optionally, you can add icons to the links -->
                    <li class="treeview">
                        <a href="#"><i class="fa fa-cog"></i> <span>System</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="/system/user/">用户管理</a></li>
                        </ul>
                    </li>
                </ul>
                <!-- /.sidebar-menu -->
        </section>
        <!-- /.sidebar -->
    </aside>


    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <section class="content-header margin-bottom">
            <ol class="breadcrumb">
            </ol>
        </section>
        {% block content %}


        {% endblock %}

    </div>
    <!-- /.content-wrapper -->

{% endblock %}
