{% extends 'base-layer.html' %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static 'js/plugins/layer/skin/layer.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/select2/select2.min.css' %}">
{% endblock %}

{% block main %}
    <div class="box box-danger">
        <form class="form-horizontal" id="addForm" method="PUT">
            {% csrf_token %}
            <input type="hidden" name='id' id="id" value="{{ author.id }}"/>
            <div class="box-body">
                <fieldset>
                    <legend>
                        <h4>作者信息</h4>
                    </legend>
                    <div class="form-group has-feedback">
                        <label class="col-sm-2 control-label">名称</label>
                        <div class="col-sm-3">
                            <input class="form-control" name="name" type="text" value="{{ author.name }}"/>
                        </div>
                        <label class="col-sm-2 control-label">邮箱</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" name="email" value="{{ author.email }}"/>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="box-footer ">
                <div class="row span7 text-center ">
                    <button type="button" id="btnCancel" class="btn btn-default margin-right ">重置</button>
                    <button type="button" id="btnSave" class="btn btn-info margin-right ">保存</button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{% static 'plugins/select2/select2.full.min.js' %}"></script>
    <script type="text/javascript">

        $("#btnSave").click(function () {
            var data = $("#addForm").serialize();
            var input = document.getElementById("id")
            console.error(input.value)
            $.ajax({
                type: $("#addForm").attr('method'),
                url: "/books/author_action/"+input.value+"/",
                data: data,
                cache: false,
                success: function (msg) {
                    if (msg.message == 'success') {
                        layer.alert('修改成功！', {icon: 1}, function (index) {
                            parent.layer.closeAll(); //关闭所有弹窗
                        });
                    } else {

                        var obj = msg.data;//定义一个object对象
                        var keys = [];//定义一个数组用来接受key
                        var values = [];//定义一个数组用来接受value
                        for (var key in obj) {
                            keys.push(key);
                            values.push(obj[key]);//取得value
                        }
                        {#alert("keys：" + keys + " errors：" + values);#}
                        layer.alert("keys：" + keys + " <br>errors：" + values , {icon: 5});
                    }
                    return;
                }
            });
        });

        /*点取消刷新新页面*/
        $("#btnCancel").click(function () {
            window.location.reload();

        })
    </script>

{% endblock %}
